<!DOCTYPE html>
<html lang="en" ng-app="BeginApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="AngularJS Beginner Two Day Workshop">
    <meta name="author" content="Troy Miles aka the rockncoder">
    <title>AngularJS - Beginner - Two Day</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <!-- Custom styles for this template -->
    <link href="css/navbar-fixed-top.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">The Photo Club</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#members">Members</a></li>
                <li><a href="#photos">Photos</a></li>
                <li><a href="#events">Events</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contact Me <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Github</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">YouTube</a></li>
                        <li><a href="#">SlideShare</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Personal</li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <input id="dateField" data-rnc-date-picker ng-model="$parent.currentDate"/>

    <input type="text" ng-model="timeOfDay" data-rnc-time-picker />

    <hr/>

    <h2>Slider</h2>
    <div class="container" >
        <div data-min="0" data-max="50" data-rnc-slider-range></div>
    </div>
    <hr/>


    <div ng-view></div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="libs/jquery/jquery-1.11.2.js"></script>
<script src="libs/angular/angular.js"></script>
<script src="libs/angular/angular-route.js"></script>
<script src="libs/bootstrap/bootstrap.js"></script>
<script src="libs/jquery/jquery-ui.js"></script>
<script src="libs/jquery/jquery.timepicker.min.js"></script>

<script src="src/app.js"></script>
<script src="src/routes.js"></script>

<!-- services, directives, & filters -->contact.lastName
<script src="src/datePicker.js"></script>
<script src="src/timePicker.js"></script>

<!-- controllers -->
<script src="src/home-controller.js"></script>
<script src="src/about-controller.js"></script>
<script src="src/members-controller.js"></script>
<script src="src/photos-controller.js"></script>
<script src="src/events-controller.js"></script>

</body>
</html>
