<div>
    <h1>Members</h1>
    <br/>

    <div class="row">
        <aside class="col-lg-3">
            <ul class="list-group">
                <li ng-repeat="contact in contacts | orderBy: 'lastName'" class="list-group-item">
                    <a ng-href="" ng-click="select($index)">
                        <span ng-bind="contact.firstName+' '+contact.lastName | limitTo: 20"></span>
                    </a>
                    <button  type="button" class="btn btn-danger  pull-right   btn-xs" ng-click="delete($index)"><span
                            class="glyphicon glyphicon-minus"></span></button>
                </li>
            </ul>

        </aside>
        <article class="col-lg-offset-1 col-lg-8">

            <form novalidate role="form" name="form" class="form-horizontal" ng-submit="add()">
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="currentContact.firstName" id="firstName"
                               placeholder="First Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="currentContact.lastName" id="lastName"
                               placeholder="Last Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" name="eMail" class="form-control" id="email" ng-model="currentContact.eMail"
                               placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City</label>

                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="city" ng-model="currentContact.city"
                               placeholder="City">
                    </div>
                    <label for="state" class="col-sm-1 control-label">City</label>

                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="state" ng-model="currentContact.state"
                               placeholder="State">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-2">
                        <!-- note: there is now action on the button, it is on the form so it handles enter/return too -->
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || inEditMode">Add
                            Contact
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <!-- note: there is now action on the button, it is on the form so it handles enter/return too -->
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || !inEditMode"
                                ng-click="edit()">Edit Contact
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-warning" ng-click="clear()">Clear</button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</div>